@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat&display=swap');


:root {
    --primary-color: #2F4858;
    --secondary-color: #43B93A;
    --grass-color: #43B93A;
    --bigger-font: 'EB Garamond', serif;
    --small-font: 'Montserrat', sans-serif;
;
}
*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: var(--small-font);

}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 7rem;
    margin: 2rem auto;
    text-transform: capitalize;
    font-family: var(--bigger-font);
}

h2 {
    font-size: 6rem;
    text-transform: capitalize;
    font-family: var(--bigger-font);
    color: var(--primary-color);
}


.start {
    background-image: linear-gradient(to bottom, #2f4858, #00667a,
    #008582, #00a16c, #43b93a);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
}

.name-form input{
    width: 40%;
    font-family: inherit;
    border: 4px solid var(--primary-color);
    outline: none;
    padding: 1rem;
    background: none;
    color: var(--primary-color);
}

.name-form input::placeholder{
    color: var(--primary-color);
}

.name-form input:focus{
    border: 5px solid var(--secondary-color);
}

.score {
    background: rgba(255, 255, 255, 0.1);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
}

.player-name {
    height: 100%;
    font-size: 2.3rem;
}

.start-btn {
    display: block;
    font-size: 3rem;
    width: 30%;
    color: var(--secondary-color);
    cursor: pointer;
    border: none;
    padding: 1rem;
    margin: 2rem auto;
    font-family: var(--bigger-font);
    text-align: center;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 12px #999;
}

.start-btn:active{
    background-color: #007882;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.game {
    width: 100%;
    height: 900px;
    display: flex;
    padding-bottom: 4rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--grass-color);
}

.hole {
    flex: 1 0 50%;
    position: relative;
    overflow: hidden;
    /*border: black 10px double;*/
}

.hole::after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 48%;
    height: 50%;
    position: absolute;
    top: 55%;
    right: 20%;
    padding: 2rem;
}

.mole-doubt{
    background: url('mole-doubt.svg') bottom center no-repeat;
}

.mole-anxiety{
    background: url('mole-anxiety.svg') bottom center no-repeat;
}

.mole-fear{
    background: url('mole-fear.svg') bottom center no-repeat;
}

.mole-anger{
    background: url('mole-anger.svg') bottom center no-repeat;
}

.mole-stress{
    background: url('mole-stress.svg') bottom center no-repeat;
}

.mole-toxic{
    background: url('mole-toxic.svg') bottom center no-repeat;
}

.mole {
    background-size: 35%;
    position: absolute;
    top: 100%;
    left: 20%;
    width: 350px;
    height: 350px;
    transition: all 0.3s;
}


.mole.up {
    top: -42%;
    z-index: 1;
}

.all-scores {
    padding-top: 5rem;
    background-image: linear-gradient(to top, #2f4858, #00667a, #008582, #00a16c, #43b93a);
    min-height: 650px;
}

.all-scores h2 {
    text-align: center;
    margin: 0 auto;
}

.all-scores-div {
    height: 1rem;
    color: var(--primary-color);
}

.all-scores-table {
    margin: 0 auto;
}

.scores-tbl-header {
    font-size: 4rem;
    padding: 2rem;
    font-family: var(--bigger-font);
}

.scores-tbl-content {
    font-size: 2.75rem;
}

.all-scores-table th {
    font-family: var(--small-font);
    padding: 2rem;
    font-size: 4rem;
}

.scores-tbl-content td {
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
}

.scores-tbl-content tr:nth-child(1) {
    background-color: #FEE101;
}

.scores-tbl-content tr:nth-child(2) {
    background-color: #A7A7AD;
}

.scores-tbl-content tr:nth-child(3) {
    background-color: #A77044;
}

footer {
    display: block;
    background-color: black;
    padding: 3rem;
}

footer h3 {
    font-family: var(--small-font);
    color: var(--secondary-color);
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}

.footer-img{
    display: block;
    width: 10%;
    margin: 1.5rem auto;
}