@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat&display=swap');

:root {
    --primary-color: #2F4858;
    --secondary-color: #43B93A;
    --third-color: #002D00;
    --grass-color: #43B93A;
    --bigger-font: 'EB Garamond', serif;
    --small-font: 'Montserrat', sans-serif;
}

*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    background-repeat: no-repeat;
    font-family: var(--small-font);
    background-color: var(--grass-color);
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: clamp(3rem, 6vw, 7rem);
    margin: 0.75rem auto;
    text-transform: capitalize;
    font-family: var(--bigger-font);
}

h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    text-transform: capitalize;
    font-family: var(--bigger-font);
    color: var(--primary-color);
}

/*Title*/
.score {
    background: rgba(255, 255, 255, 0.1);
    padding: 0 1rem;
    line-height: 1;
    border-radius: 1rem;
}

/*Starting form*/
.start {
    background-image: linear-gradient(to bottom, #2f4858, #00667a,
    #008582, #00a16c, #43b93a);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
}

.difficulty{
    width: min(60%, 400px);
    margin: 0.5rem auto;
    color: var(--third-color);
    display: flex;
    align-items: center;
    border: 0.01rem dashed var(--secondary-color);
}

.min-label, .max-label{
    color :var(--third-color);
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    flex: 1 1 10%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    opacity: 0.7;
    margin: 1rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #FF7218;
    cursor: pointer;
}

.name-form input{
    width: 40%;
    font-family: inherit;
    border: 1px solid var(--primary-color);
    outline: none;
    padding: 0.25rem;
    background: none;
    color: var(--primary-color);
}

.name-form input::placeholder{
    color: var(--primary-color);
}

.name-form input:focus{
    border: 2px solid var(--secondary-color);
}

.player-name {
    max-width: 250px;
    font-size: 1rem;
    margin: 0.5rem auto;
}

.start-btn {
    display: block;
    width: min(25%, 100px);
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    color: var(--secondary-color);
    cursor: pointer;
    border: none;
    padding: 0.25rem;
    margin: 0.5rem auto;
    font-family: var(--bigger-font);
    text-align: center;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.start-btn:active{
    background-color: #007882;
    box-shadow: 0 1px #666;
    transform: translateY(3px);
}

/*Hole + Mole + Game*/
.game {
    min-height: 50vh;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
    background-color: var(--grass-color);
}

.hole {
    flex: 1 1 35%;
    position: relative;
    overflow: hidden;
}

.hole::after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 58%;
    right: 20%;
}

.mole img{
    max-height: 60%;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.mole.up img{
    top: 25%;
    z-index: 1;
}

/*All time scoreboard table*/

.all-scores {
    padding: 1rem;
    background-image: linear-gradient(to top, #2f4858, #00667a, #008582, #00a16c, #43b93a);
}

.all-scores h2 {
    text-align: center;
}

.all-scores-div {
    color: var(--primary-color);
}

.all-scores-table {
    margin: 0 auto;
}

.all-scores-table th {
    font-family: var(--bigger-font);
    padding: 0.5rem;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.scores-tbl-content td {
    text-align: center;
    padding: 0.25rem;
    font-size: clamp(1rem, 2vw, 1.5rem);

}

.scores-tbl-content tr:nth-child(1) {
    background-color: #FEE101;
}

.scores-tbl-content tr:nth-child(2) {
    background-color: #A7A7AD;
}

.scores-tbl-content tr:nth-child(3) {
    background-color: #A77044;
}

/*Footer*/
footer {
    display: block;
    background-color: black;
    padding: 0.5rem;
}

footer h3 {
    font-family: var(--small-font);
    color: var(--secondary-color);
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.footer-img{
    display: block;
    width: min(10%, 35px);
    margin: 0.5rem auto;
}

@media (min-width: 500px){
    .name-and-go{
        display: flex;
        justify-content: center;
    }

    .name-form input{
        width: 60%;
    }

    .start-btn{
        margin: 0;
    }

    .game{
    }
    .hole{
        flex: 1 1 30%;
    }
}